extends layout

block content
  include ./includes/header
  .news-page.clearfix
    .default-box#tech.h-40.w25
      h2 科技
      img(src="/images/nav/tech.png", alt="")
    .default-box#hot.h-40.w50.border-r1
      h2 头条
      img(src="/images/nav/top.png", alt="")
    .default-box#financial.h-40.w25
      h2 财经
      img(src="/images/nav/finance.png", alt="")
    .default-box#sport.h-40.w50.border-r1
      h2 体育
      img(src="/images/nav/sports.png", alt="")
    .default-box#social.h-40.w50
      h2 社会
      img(src="/images/nav/social.png", alt="")
  script(src="/javascripts/ajax.min.js")
