.user-sign .s-inner-c {
  width: 300px;
  margin: 20px auto;
  min-width: 300px;
}
.user-sign .s-inner-c .sign-header {
  text-align: center;
}
.user-sign .s-inner-c .sign-header .logo {
  width: 120px;
  height: 80px;
  display: block;
  background: url(../images/news.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
}
.user-sign .s-inner-c .sign-header .text {
  font-size: 18px;
  margin: 30px 0 20px;
}
.user-sign .s-inner-c .index-desk .index-tab-nav {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}
.user-sign .s-inner-c .index-desk .index-tab-nav a {
  line-height: 35px;
  width: 4em;
  float: left;
  margin: 0 auto;
}
.group-input {
  border: 1px solid rgba(9, 9, 9, 0.4);
  box-shadow: 0 0 1px;
}
.group-input .input-wrapper:first-child {
  border-bottom: 1px solid rgba(9, 9, 9, 0.2);
}
.group-input .input-wrapper:nth-child(2) {
  border-bottom: 1px solid rgba(9, 9, 9, 0.2);
}
.input-wrapper {
  height: 47px;
  line-height: 47px;
  background-color: #fff;
}
.input-wrapper input {
  width: 100%;
  padding: 1em 0.8em;
  outline: none;
  border: none;
  box-sizing: border-box;
}
.form-btn {
  margin-top: 20px;
}
.form-btn button {
  background-color: #333;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  line-height: 41px;
  color: #fff;
  font-size: 18px;
}
#signIn {
  display: none;
}
#sup {
  border: 1px solid #777;
}
.default-box {
  border-top: 1px solid #f2f2f2;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.default-box h2 {
  margin-top: 10px;
  font-size: 34px;
}
.default-box img {
  margin-top: 20px;
  height: 160px;
  width: 160px;
}
.default-box .tips {
  position: absolute;
  top: 80%;
  left: 0;
  text-align: left;
  padding: 0 20px;
}
.w25 {
  width: 25%;
}
.w50 {
  width: 50%;
}
.h-40 {
  height: 40%;
}
.h-60 {
  height: 60%;
}
.border-r1 {
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
.news-page {
  height: 638px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
