
.user-sign {
 
  
  .s-inner-c {
    width: 300px;
    margin: 20px auto;
    min-width: 300px;
    .sign-header {
      text-align: center;
      .logo {
        width: 120px;
        height: 80px;
        display: block;
        background: url(../images/news.png) no-repeat;
        background-size: contain;
        margin: 0 auto;
      }
      .text {
        font-size: 18px;
        margin: 30px 0 20px;
      }
    }
    .index-desk {
      .index-tab-nav {
        margin-bottom: 10px;
        font-size: 18px;
        text-align: center;
        a {
            line-height: 35px;
            width: 4em;
            float: left;
            margin: 0 auto;
        }
      }

    }
  }
}
.group-input {
   border: 1px solid rgba(9,9,9,.4);
   box-shadow: 0 0 1px;

   .input-wrapper:first-child {
     border-bottom: 1px solid rgba(9,9,9,.2);
    }
   .input-wrapper:nth-child(2) {
     border-bottom: 1px solid rgba(9,9,9,.2);
     }
   .input-wrapper:nth-child(3) {
     border-bottom: 1px solid rgba(9,9,9,.2);
     }
}
.input-wrapper {
  height: 47px;
  line-height: 47px;
  background-color: #fff;
  position: relative;
  input {
    width: 100%;
    padding: 1em 0.8em;
    outline: none;
    border: none;
    box-sizing: border-box;
  }
  span {
    position: absolute;
    top: 0;
    right: 1em;
    font-weight: 300;
  }
}
.form-btn {
  margin-top: 20px;
  button {
  background-color: #333;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    line-height: 41px;
    color: #fff;
    font-size: 18px;
  }
}
#signIn {
  display: none;
}
#sup {
  border: 1px solid #777;
}

// index页面

.default-box {
  border-top: 1px solid #f2f2f2;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  h2{
    margin-top: 10px;
    font-size: 34px;
  }
  img {
    margin-top: 20px;
    height: 160px;
    width: 160px;
  }
}
.w25 {
  width: 25%;
}
.w50 {
  width: 50%;
}
.h-40 {
  height: 40%
}
.h-60 {
  height: 60%;
}
.border-r1 {
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
.news-page {
  height: 638px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

header.home {
  .container{
    height: 60px;
    display: block;
    box-sizing: border-box;
    .fl-box {
      float: left;
      height: 100%;
      width: 70%;
      box-sizing: border-box;
      border-right: 1px solid #e5e5e5;
      ul {
        float: left;
        vertical-align: middle;
        li {
          display: block;
          float: left;
          font-size: 16px;
          margin-left: 20px;
          line-height: 60px;
          font-weight: 200;
          cursor: pointer;
        }
        .dark {
          color: #222;
          font-weight: 400;
        }
        .light {
          color: #aaa;
        }
      }
    }
    .fr-box {
      float: right;
      width: 30%;
      height: 100%;
      box-sizing: border-box;
      
      .body{
        float: right;
         .search {
        width: 30px;
        height: 30px;
        background: url(/images/search.svg) no-repeat;
        background-size: contain;
        float: left;
        margin: 15px;
        cursor: pointer;
      }
      .edit {
        width: 30px;
        height: 30px;
        background: url(/images/edit.svg) no-repeat;
        background-size: contain;
        float: left;
        margin: 15px;
        cursor: pointer;
      }
      .user {
        width: 30px;
        height: 30px;
        background: url(/images/wow.png) no-repeat;
        background-size: contain;
        float: left;
        margin: 15px;
        cursor: pointer;
      }
      }
     
    }
  }
}
@media screen and (max-width:650px) {
  img {
    display: none; 
  }
  header.home {
    .container {
      .fr-box {
        .body {
            .search {
              width: 20px;
              height: 20px;
            }
            .edit {
              width: 20px;
              height: 20px;
            }
            .user {
              width: 20px;
              height: 20px;
            }
        }
      }
    }
  }
  
}
@media screen and (max-width:414px) {
  header.home {
    background-color: red;
  }
}

// news details page
.news-detail {
  width: 100%;
  .news-header {
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    line-height: 60px;
    font-size: 32px;
    position:  relative;
    .back {
      display: block;
      border: 1px solid #000;
      position: absolute;
      left: 20px;
      top: 10px;
      font-size: 28px;
      line-height: 40px;
    }
  }
  .news-element {
    box-sizing: border-box;
    width: 100%;
    display: block;
    .news-item-wraper{
      // padding: 20px 10px;
      box-sizing: border-box;
      border: 0 ;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(9,9,9,.2);
      float: left;
      width: 33.3%;
      margin-bottom: 20px; 
      height:  290px;
      .news-item{
        border-right: 1px solid rgba(9,9,9,.2);
        margin: 20px 10px;
        .news-title {
          width: 80%;
          margin: 0 auto;
          display: block;
        }
        .news-pic {
          width: 80%;
          height: 200px;
        }
        .news-time {
          margin-top:  5px;
        }
      }
      
    }
  }
}