extends ../layout
block content
  .user-sign
    .s-inner-c
      .sign-header
        h1.logo
        h2.text 没有人生活在——非黑即白的世界里
      .index-desk
        .index-tab-nav
          .nav-slider.clearfix#navSlider
            a#sup(href="#signup") 注册
            a#sin(href="#signin") 登录
            span.nav-slider-bar
        .form-signup#signUp
          form(method="post", action="/user/signup")
           .group-input
            .input-wrapper
              input(type="text" placeholder="姓名" name="name")
              span
            .input-wrapper
              input(type="tel" placeholder="手机号（仅支持中国大陆）" name="tel")
              span
            .input-wrapper
              input(type="password" placeholder="密码（不少于6位）" name="password")
              span
            .input-wrapper
                input(type="password" placeholder="重复上一次的密码" name="repassword")
                span
           .form-btn
              button(type="submit" disabled="disabled") 提交
        .form-signin#signIn
          form(method="post", action="/user/signin")
           .group-input
            .input-wrapper
              input(type="tel" placeholder="手机号" name="name")
              span
            .input-wrapper
              input(type="password" placeholder="密码" name="password")
              span
           .form-btn
            button(type="submit" disabled="disabled") 提交  
  script(src="/javascripts/formCheck.js")
  
    
        